/* =========================
   Main Styles
============================ */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Playfair Display', serif;
	background-color: white;
	background-image: url(../img/diagonales_decalees.png);
	color: #384047;
	margin: 0px;
	padding-top: 100px;
	font-size: 1em;
}

.container {
	width: 100%;
	max-width: 1024px;
	margin: 100px auto;
	padding: 0;
	text-align: left;
}


/* =========================
   Headers and Paragraphs
============================ */

h1 {
	margin: 0 0 30px 0;
	text-align: center;
}

h2 {
	color: #2d3945;
	font-size: 1.6em;
	margin: 0 0 40px 0;
	font-weight: 700;
}

p {
	color: #9da3a8;
	font-size: 1.3em;
	margin-top: 0;
}


/* =========================
   Header 
============================ */

.main_nav {
	width: 100%;
	height: 90px;
	background: #2d3945;
	padding: 18px;
	text-align: center;
	position: absolute;
	top: 0px;
	color: white;
	text-transform: uppercase;
	font-size: 2em;
}


/* =========================
   Singup
============================ */

.signup {
	text-align: center;
	border-bottom: 4px solid #2d3945;
	padding-bottom: 30px;
}

.signup img {
	display: none;
}


/* =========================
   Form Elements 
============================ */

form {
	padding: 90 ;
	margin: 0px;
}

fieldset {
	margin: 5px 0 0 0;
	border: none;
	border-top: 2px solid #FFC733;
	padding: 120px 20px;
	width: auto;
	display: block;
	background-color: white;
	position: relative;
}

legend {
		color: #2d3945;
	font-size: 1.6em;
	margin: 0 0 40px 0;
	font-weight: 700;
    position:absolute;
    top:40px;
    left:18px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="color"],
input[type="url"],
textarea,
select {
	background: #eff0f1;
	border: none;
	font-size: 1.3em;
	height: 90px;
	margin: 0;
	border-radius: 10px;
	padding: 5px 20px;
	width: 100%;
	background-color: #e8eeef;
	color: #2d3945;
	margin-bottom: 20px;
	font-style: normal;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea,
select {
	transition: border .2s;
}

input[id="zip"] {
	width: 250px;
	display: block;
}

select {
	color: #8a97a0;
}

input[type=checkbox],
input[type=radio] {
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	padding: 10px;
}

.checkbox {
	margin-left: 10px;
	margin-bottom: 40px;
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 14px 0px 0;
}

input:focus {
	border: 5px solid #FFC733;
	text-align: left;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	margin-top: 10px;
}

button:hover {
	background-color: lawngreen;
}

label {
	display: inline-block;
	margin: 10px 0 10px 0;
	font-weight: 400;
	color: #6e7d8d;
	font-size: 1em;
}


/* Style for placeholder only */

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #8a97a0;
	font-style: italic;
	text-align: right;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #8a97a0;
	font-style: italic;
	text-align: right;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #8a97a0;
	font-style: italic;
	text-align: right;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #8a97a0;
	font-style: italic;
	text-align: right;
}


/* /placeholder */


/* =========================
   Copyright
============================ */

.copyright {
	text-align: center;
	margin-top: 30px;
}

.copyright p {
	font-size: 1em;
	margin-top: 10px;
}




/* //////////////////////////
   @media
////////////////////////////// */


@media screen and (min-width: 760px) {
	.main_nav {
	padding: 18px;
	font-size: 2.6em;
	}

	.wrap {
		width: 98%;
		padding: 10px;
	}
	.copyright img {
		transition: all .5s;
	}
	.copyright img:hover {
		transform: rotate(10deg) scale(1.3);
	}
	
	.signup img {
		display: inline;
		border-radius: 100%;
		height: 200px;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 1024px) {
	.wrap {
		width: 95%;
		padding: 20px;
	}
	.contact-info label {
		width: calc(100% - 80%);
		float: left;
		margin-right: 1em;
	}
	.contact-info input,
	select {
		width: calc(100% - 22%);
	}
	div.inputdata {
		border: thin solid gray;
		padding: 0.1em;
		margin: 0.1em;
	}
	div.inputdata label {
		float: left;
		margin-right: 10px;
		padding: 5px 0;
		color: gray;
	}
	input[id="zip"] {
		width: 200px;
		display: block;
	}
	div.inputdata span {
		display: block;
		overflow: hidden;
	}
	div.inputdata input {
		width: 100%;
		padding-top: 8px;
		border: none;
		background: none;
	}
	.clear {
		clear: both;
	}
}